@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Dynalight&family=Emblema+One&family=Engagement&family=Ewert&family=Fontdiner+Swanky&family=Fuggles&family=Hanalei+Fill&family=Keania+One&family=Kirang+Haerang&family=Kumar+One+Outline&family=Londrina+Outline&family=Londrina+Sketch&family=Lovers+Quarrel&family=MedievalSharp&family=Meie+Script&family=Miniver&family=Molle&family=Monofett&family=Mrs+Sheppards&family=Mystery+Quest&family=Neonderthaw&family=Nosifer&family=Pacifico&family=Paprika&family=Piedra&family=Princess+Sofia&family=Purple+Purse&family=Quintessential&family=Rampart+One&family=Roboto+Mono:wght@100&family=Romanesco&family=Rubik+Beastly&family=Sancreek&family=Sonsie+One&family=Srisakdi&family=Stalemate&family=Stick+No+Bills:wght@200&family=Syne+Tactile&family=Vampiro+One&family=WindSong&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(33 54 53 / 94%);
  padding: 20px 0;
}

.title{
  background-color: #2aa5a5;
  border: 2px solid #208786;
  border-radius: 8px;
  color: #dee7e4;
  padding: 10px;
  box-shadow: 1px 1px 10px #219997;
  width: 98%;
  text-align: center;
}

.search{
  background-color: hsl(179deg 84% 36%);
  width: 50vw;
  padding: 10px;
  margin: 20px;
  border: 2px solid #208786;
  border-radius: 8px;
}

input{
  width: 100%;
  border: 2px solid #dee7e4;
  border-radius: 8px;
  padding: 10px;
  background: #2aa5a5;
  outline: none;
  color: #dee7e4;
  font-size: 15px;
  text-align: center;
  letter-spacing: 2px;
}

button{
  width: 40%;
  padding: 8px;
  border: 2px solid #dee7e4;
  border-radius: 6px;
  background-color: #dee7e4;
  cursor: pointer;
  outline: none;
  color: #05aeb4;
  font-weight: bold;
  margin: 20px;
}

button:hover{
  box-shadow: 1px 5px 10px #208786;
  background-color: #208786;
  border: 2px solid #1a6866;
  color: #dee7e4;

}

button:active{
  transform: scale(.98);
}

.container{
  width: 96%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #219997;
  padding: 25px;
  border: 2px solid #ccc;
  border-radius: 6px;
}

.crypto-info{
  margin-right: 2rem;
  padding: 1rem;
  background-color: #21807e;
  border: 2px solid #ccc;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;flex-direction: column;
  font-family: 'Lato', sans-serif;
  flex: 2;
}

.crypto-title{
  color: white;
}

.symbol{
  color: white;
}

.link{
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.price{
  color: white;
  font-size: 14px;
}

.des{
  flex: 4 1;
  text-align: justify;
  line-height: 1.4rem;
  height: 331px;
  overflow-y: auto;
  border: 2px solid #ccc;
  border-radius: 6px;
  padding: 15px;
  color: white;
}

i{
  font-size: 14px;
  margin-right: 10px;
  color: #c4c4c4;
  opacity: 0.7;
}


.content{
  width: 98%;
  border: 2px solid #208786;
  border-radius: 8px;
  background-color: #2aa5a5;

}

.crypto{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border: 2px solid #ccc;
  margin: 10px 20px;
  border-radius: 8px;
  justify-items: center;
  align-items: center;
}

.crypto img{
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  border-radius: 50%;
  padding: 5px;
}

.crypto h3{
  color: aliceblue;
}

@media (max-width : 768px) {

  .search {
    width: 70%;
  }

  .btn{
    width: 30%;
  }

  .crypto {
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }

  button {
    width: 38%;
    padding: 8px;
    font-size: 16px;
  }

  .crypto img {
    width: 100px;
    height: 100px;
    margin: 20px 0;
  }
  
}

@media (max-width : 768px) {
  .container{
    display: block;
  }

  .btn{
    width: 20%;
  }

  .crypto-info {
    width: 95%;
    margin-right: 2rem;
    padding: 1rem;
    background-color: #21807e;
    border: 2px solid #ccc;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    flex: 2 1;
  }

  .des{
    width: 95%;
    margin-top: 20px;
  }
  
}

@media (min-width : 768px) and (max-width : 1200px) {
  .btn{
    width: 20%;
  }

  .crypto-info {
    width: 95%;
    margin-right: 2rem;
    padding: 1rem;
    background-color: #21807e;
    border: 2px solid #ccc;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    flex: 2 1;
  }

  .des{
    width: 95%;
    margin-top: 20px;
  }
  
}
